body{
    background-image: url("https://c1.staticflickr.com/5/4564/38621310851_c1172b9da6_b.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

form{
    background-color: #fff;
    padding-top: 7px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
}
